<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome to Okapi!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <script src="https://bootswatch.com/slate/bootstrap.min.css"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Okapi</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Guide</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="padding-top: 50px">

    <h1>Okapi Information Retrieval System</h1>

    <form class="form-horizontal" role="form" action="#" data-th-action="@{/okapi}" data-th-object="${model}" method="post">

        <div class="col-lg-6">
            <!-- Set Database -->
            <div class=" form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="dbName" name="dbName" placeholder="Set Database"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" name="action" value="selectDB" type="submit">Go!</button>
                    </span>
                </div>
            </div>
            <!-- Set Database -->

            <!-- Parse Terms -->
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="parseTerm" name="parseTerm" placeholder="Parse Term"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="action" value="parse">Go!</button>
                    </span>
                </div>
            </div>
            <!-- Parse Terms -->
            <!--Stem Term -->
            <div class=" form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="stemTerm" name="stemTerm" placeholder="Stem Term"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="action" value="stem">Go!</button>
                    </span>
                </div>
            </div>
            <!--Stem Term -->
            <!-- searchTerm Terms -->
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchTerm" name="searchTerm"
                           placeholder="Search Term"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="action" value="search">Search</button>
                        <button class="btn btn-default" type="submit" name="action" value="weight">Get Weigh</button>
                    </span>
                </div>
            </div>
            <!-- searchTerm Terms -->
            <!-- Display Results-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-info" type="submit" name="action" value="displayResult">Display Results</button>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
             <pre id="o" th:utext="${result}"></pre>
        </div>

    </form>

</div><!-- /.container -->

</body>

</html>